#generatedText {
    padding-left: 20px;

    display: inline-flex;
    width: 50%;
}

#link {
    color: gray;
    font-size: small;
    /*width: 40%;*/
}

#copyButton {
    padding-left: 10px;
    padding-top: 5px;
    border-radius: 100%;

    /*float: inherit;*/
    /*position: relative;*/

}

#copyButton :hover {
cursor:pointer;
}

#generateForm {
    padding: 20px;
}

#submit_btn {
    padding: 15px;
}



/* label focus color */
 .input-field input:focus + label {
   color:#0d47a1 !important;
 }
 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px solid #0d47a1 !important;
   box-shadow: 0 1px 0 0 #0d47a1 !important
 }

