#seenTags_table {
    /*align-self: center;*/
    padding: 30px;
    display: table;
    margin: 0 auto;
}
#parent{
    padding: 10px;
}
#first{
    /*float: left !important;*/
width:15%;
overflow:auto;
}
#second{
    /*position: absolute;*/
    /*left:30%;*/
    /*right:20%;*/
width:65%;
padding-left:20px;
    overflow:auto;
}
#third{
    /*position: absolute;*/
    /*left:80%;*/

width:20%;
padding-left:20px;
    overflow:auto;

}
#co_header{
    /*text-align: center !important;*/
    /*background-color: #0D47A1;*/
    /*display: inline;*/
    /*margin: 0 auto;*/
    /*overflow: hidden;*/
  /*text-overflow: ellipsis;*/
    /*height:10%;*/
    min-width: 300px;
    /*overflow-scrolling: auto;*/

}
#co_body{
    background-color: whitesmoke;
/*     display:flex; */
/*   flex-wrap: nowrap; */
/*   align-content: space-around; */
}

#constants{
font-size: large;
font-family:fantasy;
color:#0D47A1;
    padding-right:60px;
    /*font-family: Arial;*/
}
#clientInfo{

    display: table;
    margin: 0 auto;
}