{% extends 'index.html' %}

{% block title %}
    All Tags
{% endblock %}
{% block header %}
    ALL
{% endblock %}

{% block body %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'tag/css/allTags.css' %}"/>
        {#    <script src="{% static 'tag/js/allTags.js' %}"> </script>#}

    </head>
    <body>
    <div id="pare">
    <div id="allTags_table">
        <table class=" highlight " >
            <thead>
            <tr>
                <!-- class "mdl-data-table__cell--non-numeric", align values to left -->
                <th >Tag</th>
                <th >Generated Address</th>
                <th >Time</th>
            </tr>
            </thead>
            <tbody>

            <!-- Row 1 -->
            {% for info in user_info %}
                <tr>
                    <!-- class "mdl-data-table__cell--non-numeric", align values to left -->
                    <td >{{ info.user_tag }}</td>
                    <td >{{ BASE_TAG_URL }}{{ info.generated_tag }}</td>
                    <td >{{ info.user_time }}</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>
    </div>
    </div>
    </body>
    </html>
{% endblock %}