{% extends 'index.html' %}

{% block title %}
    Seen Tags
{% endblock %}


{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
 <table id="seenTags_table" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
  <thead>
    <tr>
      <!-- class "mdl-data-table__cell--non-numeric", align values to left -->
      <th class="mdl-data-table__cell--non-numeric">Tag</th>
      <th class="mdl-data-table__cell--non-numeric">Generated Address</th>
      <th class="mdl-data-table__cell--non-numeric">Time</th>
    </tr>
  </thead>
   <tbody>

    <!-- Row 1 -->
    {% for info in client_info %}
    <tr>
      <!-- class "mdl-data-table__cell--non-numeric", align values to left -->
      <td class="mdl-data-table__cell--non-numeric">{{ info.user_info.user_tag }}</td>
      <td class="mdl-data-table__cell--non-numeric">{{ BASE_TAG_URL}}{{info.user_info.generated_tag }}</td>
    <td class="mdl-data-table__cell--non-numeric">{{ info.client_time }}</td>
    </tr>
   {% endfor %}
   </tbody>

 </table>

</body>
</html>
{% endblock %}