{% extends 'index.html' %}

{% block title %}
    Generator
{% endblock %}
{% block header %}
    Tracker
{% endblock %}

{% block script %}
    <meta charset="UTF-8">

    {% load staticfiles %}

    <meta name="google-signin-client_id"
          content="642931691711-njc9uv4lt3lhnnqeh6bq26crdacqpt29.apps.googleusercontent.com">

    <link rel="stylesheet" type="text/css" href="{% static 'tag/css/tag.css' %}"/>
    <script src="{% static 'tag/js/tag.js' %}"></script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>

{% endblock %}


{% block body %}
    <div id="generateForm">

        <form class="col s6" action="{% url 'tag:form' %}" method="get">
            <div id="box" class="row">
                <div class="input-field col s3 ">
                    <input id="id_tagname" maxlength="50" name="tagname" type="text"
                           {% if prev_tag is not None %}value="{{ prev_tag }}"{% endif %} required>

                    <label for="id_tagname">Enter tag</label>

                </div>
                <div id="submit_btn">
                    <button
                            class="waves-effect waves-light btn blue darken-4" type="submit"
                            onclick="return empty()">Generate
                    </button>
                </div>

            </div>


        </form>


    </div>

    <div id="generatedText">


        <input id="link" style="font-size: 12px" class="input-field" readonly="readonly" value="{{ generated_tag }}">
        <div id="copyButton">

            <a><img src="{% static 'tag/images/content_copy_black_36px.svg' %}"
                    onclick="copyText();M.toast({html: 'Text copied'});"/></a>


        </div>

    </div>


{% endblock %}